<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Hello</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="newPageName">
        <button v-on:click="createPage">добавить</button>
        <div v-for="(page, index) in pageList">
            <p>{{index + 1}}. {{page}} <a href="#" title="удалить" v-on:click="deletePage(page)">X</a></p>
        </div>
    </div>

    <script src="bundle.js"></script>
</body>
</html>